{{- define "main" -}}
<section class="hero pb-3 my-5">
  <div class="container">
    <div class="row">
      <div class="col">
        {{- partial "title" . -}}
        <div class="py-3">{{- .Content | safeHTML -}}</div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-3">
      {{- range resources.Match "images/galeria/*" -}}
        <div class="col-md-4 hero__figure">
          <div class="mb-3" data-animation="show">
            {{- partial "images" (dict "Fill" true "src" .Name "width" 400 "alt" .Title "class" "rounded img-fluid") -}}
          </div>
        </div>
      {{- end -}}
    </div>
    <div class="row">
      <div class="col">
        <div class="m-3 d-flex justify-content-center">
          {{- template "_internal/pagination.html" . -}}
        </div>
      </div>
    </div>
  </div>
</section>
{{- end -}}
{{- define "cookie" -}}
  {{- partial "cookie" . -}}
{{- end -}}