/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
    --btn-paypal-color: #ffc439;
    --btn-paypal-border-color: #d9a630
}

body {
    header {
        box-shadow: var(--bs-box-shadow);

        .navbar {
            .navbar-toggler {
                border: none;
                color: var(--bs-border-color-translucent)
            }

            .fc {
                fill: currentColor;
                width: 1em;
                height: 1em;
            }
            .brand{
                background-color: var(--bs-body-bg);
                background-image: url("/img/placeholder1.jpg");
                background-size: cover;
                background-attachment:scroll;
                background-blend-mode: difference;
            }
        }
    }

    main {
        .not-found {
            h1 {
                font-size: 5rem;
            }
        }

        article {
            .card {
                .img-top-container {
                    height: 200px;
                    overflow: hidden;
                }

                .red-arrow {
                    fill: var(--bs-danger);
                    width: 1.5em;
                    height: 1.5em;
                }
            }

            main {

                ul,
                ol {
                    --bs-list-group-border-color: currentColor;
                }
            }
        }

        #up {
            width: 3em;
            height: 3em;
            bottom: 0;
            right: 0;
            overflow: hidden;

            a {
                svg {
                    fill: currentColor;
                    height: 2em;
                    width: 2em;
                }
            }
        }

        #donate-button {
            background-color: var(--btn-paypal-color);
            text-align: center;
            border-radius: 6.25rem;
            min-height: 1.625rem;
            box-shadow: inset 0 2px 0 0 hsla(0, 0%, 100%, .41);
            border: 1px solid var(--btn-paypal-border-color);
            color: var(--bs-black);
            font-family: Helvetica, sans-serif;
            font-size: .875rem;
            font-weight: 700;
            padding: 0 1rem;
            min-width: 7.5rem;
            margin-bottom: 0;
            line-height: 1.5rem;
            text-decoration: none;
            text-transform: none;
        }

        .line-dotted {
            border-top-width: .1em;
            border-top-style: dashed;
            border-top-color: inherit;
        }
    }
}