{{/* compatibility */}}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=0.1,
user-scalable=yes, interactive-widget=overlays-content">
{{- /* end */ -}}
{{/* keywords and descriptions at home and regular page */}}
<meta name="keywords" content="{{- with .Keywords -}} {{- delimit . `, ` -}} 
    {{- else -}} {{- .Site.Params.keywords -}} {{- end -}}">
<meta name="description" content="{{- with .Description -}} {{- . -}} 
    {{- else -}} 
    {{- if .IsPage -}} {{- truncate 145 .Summary -}} 
    {{- else -}} {{- .Site.Params.description -}} {{- end -}} {{- end -}}">
{{/* end */}}
{{/* correct title */}}
{{- $by := (printf "%s %s" .Site.Author.name .Site.Author.lastname) -}}
<title>
    {{- emojify ":check_mark_button:" }} {{ if .IsHome -}}
    {{- .Site.Title }} - {{ .Site.Params.slogan -}}
    {{- else -}}
    {{ .Title }} - {{ .Site.Title }}
    {{- end -}} {{- printf " by %s" $by -}}
</title>
{{- /* end */ -}}
{{/* favicon */}}
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
{{- /* end */ -}}
{{/* styles css */}}
{{- partial "styles" . }}
{{- /* end */ -}}
{{/* canonical link */}}
{{ if and .IsNode (not .IsHome) -}}
<link rel="canonical" href="{{ .Paginator.URL | absURL }}">
{{- if .Paginator.HasNext -}}
<link rel="next" href="{{ .Paginator.Next.URL | absURL }}">
{{- else if .Paginator.HasPrev -}}
<link rel="prev" href="{{ .Paginator.Prev.URL | absURL }}">
{{- end -}}
{{- else -}}
<link rel="canonical" href="{{ .Permalink | absURL }}">
{{- end -}}
{{- /* end */ -}}
{{/* alternate ouput formats e.g. rss feed */}}
{{- range .AlternativeOutputFormats -}}
{{- printf `
<link rel="%s" type="%s" href="%s" title="%s" />`
.Rel .MediaType.Type .Permalink $.Site.Title | safeHTML -}}
{{- end -}}
{{- template "_internal/twitter_cards.html" . -}}
{{- with .Site.Params.twitterSite -}}
<meta name="twitter:site" content="{{ . }}" />
{{- end -}}
{{- with .Site.Params.twitterCreator -}}
<meta name="twitter:creator" content="{{ . }}" />
{{- end -}}
{{- template "_internal/opengraph.html" . -}}
{{- /* end */ -}}
{{/* meta robots */}}
{{- with .Params.robots -}}
<meta name="robots" content="{{- . -}}">
{{- end -}}
{{- /* end */ -}}
<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5Z9L8C8M');</script>
<!-- End Google Tag Manager -->
{{- /* googleadsense */ -}}
{{- with .Site.Params.google_ad_client -}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{- . -}}"
    crossorigin="anonymous"></script>
{{- end -}}
{{- /* end */ -}}
{{- /* sharethis integration */ -}}
{{- with .Site.Params.sharethis -}}
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property={{- . -}}&product=sop'
    async='async'></script>
{{- end -}}
{{- /* end */ -}}