{{- $em := "" -}}
{{- $fontClass := "" -}}
{{- $class := "" -}}
{{- $classtitle := "" -}}
{{- if reflect.IsMap . -}}
  {{- $em = .em -}}
  {{- $fontClass = .fontClass -}}
  {{- with .class -}}
    {{- if reflect.IsSlice . -}}
      {{- $class = . -}}
      {{- $class = delimit $class " " -}}
    {{- else -}}
      {{- $class = . -}}
    {{- end -}}
  {{- end -}}
  {{- with .classTitle -}}
    {{- if reflect.IsSlice . -}}
      {{- $classtitle = . -}}
      {{- $classtitle = delimit $classtitle " " -}}
    {{- else -}}
      {{- $classtitle = . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- range $key, $value := site.Params.social -}}
{{- $title := $value.title | default (humanize $key) -}}
{{- if and (ne $value.disable true) $value.icon -}}
<div class="{{- $class }} d-inline-block">
{{- partial "blocks/svg-font.html" (dict "src" $value.icon "em" $em "fontClass" $fontClass) -}}
</div>
<a role="button" class="{{ $classtitle }}" href="{{- $value.url -}}" target="_blank" rel="noopener">
  {{- $title -}}
</a>
{{- end -}}
{{- end -}}
