{{- $em := "" -}}
{{- $left := "" -}}
{{- $right := "" -}}
{{- $src := "" -}}
{{- $suf := "" -}}
{{- if reflect.IsMap . -}}
{{- if .iconLink -}}
{{- with .left -}}
{{- $left = . -}}
{{- end -}}
{{- with .right -}}
{{- $right = . -}}
{{- end -}}
{{- end -}}
{{- with .em -}}
{{- $em = . -}}
{{- $suf = "em" -}}
{{- end -}}
{{- with .src -}}
{{- $src = . -}}
{{- end -}}
{{- end -}}
{{- $em = printf `%v%s` $em $suf -}}
{{- with resources.Get $src -}}
{{- $name := split .Name "/" -}}
{{- range $key, $value := $name -}}
{{- if eq $key (sub ($name | len) 1) -}}
{{- $name = split $value "." -}}
{{- range $k, $v := $name -}}
{{- if eq $k 0 -}}
{{- printf "<%s>:root{--%s:%s;}.%s{height:var(--%s);width:var(--%s);}</%s>" "style" $v $em (printf "bi-%s" $v) $v $v "style"
| safeHTML -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- $right -}}
{{- .Content | safeHTML -}}
{{- $left -}}
{{- end -}}