{{- define "main" -}}
<section class="hero">
  <div class="container my-5">
    <div class="row">
      <div class="col mb-4">
        <h1>{{- .Title -}}</h1>
        <p>
          {{- .Content | safeHTML -}}
        </p>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-md-6">
        {{- partial "blocks/contact/details" . -}}
      </div>
      <div class="col-md-6">
        {{- with .Params.form.title -}}
        <h3>{{- . -}}</h3>
        {{- end -}}
        {{- partial "blocks/contact/form" .Params.form -}}
      </div>
    </div>
    {{- with .Params.gmapURL -}}
    <div class="row">
      <div class="col">
        <div class="ratio ratio-16x9">
          <iframe class="rounded" src="{{- . -}}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
    {{- end -}}
  </div>
</section>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{{- end -}}